body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: #040404;
    padding: 15px;
    background: #0f69ca;
    border-radius: 8px;
}

form {
    width: 60%;
    margin: auto;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

input {
    padding: 8px;
    margin: 5px;
    width: 50%;
}

p {
    font-family: Arial, sans-serif;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
}

button:hover {
    background: #0056b3;
}